body{
    margin: 0;
    padding: 0;
    background: url(g.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
h1{
    font-size: 60px;
    color: red;
    text-shadow: 5px 8px 12px green;
    text-align: center;
    top: 20%
}
.login-box{
    width: 320px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    color:red;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.lumiz{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid pink;
    background: transparent;
    outline: none;
    height: 40px;
    color: red;
    font-size: 20px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: blue;
    color: red;
    font-size: 20px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: white;
    color: red;
}

.login-box a{
    text-decoration: none;
    font-size: 24px;
    color: blue;
}
.login-box a:hover
{
    color: green;
}

  img{
            opacity: 1;
        }





























































