/*p{
			color:red;
		}
		
		
#para1 {
    text-align: center;
    color: red;
}*/
/*.cities,p,#para1{
	color: green;
}*/
*{
	
    font-style:oblique;
font-weight: 900;
text-decoration: line-through;
	
}